*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    background-color: #4a154b;
    font-family: 'Poppins', sans-serif;
    height: 5000px;
} 
.search{
    width: 20px;
    height: 20px;
    position: relative;
    top: 10px;
    
}
.left{
    display: flex;
    position: relative;
    align-items: center;
    padding: 20px;
    left: 130px;
    top: -90px;
}
.right{
    display: flex;
    position: relative;
    left: 900px;
    top: -160px;
    
}
h4{
    padding: 20px;
}
button{
    width: 150px;
    height: 50px;
    border: 3px solid white;
    background-color: #4a154b;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    top: 5px;
    
}
#john{
    left: 10px;
    background-color: white;
    color: #4a154b;
    font-weight: bold;
    top: 20px;
}
#logo{
    position: relative;
    top: 10px; 
    align-items: start;
    /
    
    
}
.sign{
    position: relative;
    top: -10px;

}